@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #1E1E1E;
  font-family: 'Iceland', cursive;
}

/* LOGIN  */

.content{
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.descricao-entrar{
  margin-left: 80px;
}

.title{
  text-align: center;
}

.title-logo{
  color: white;
  font-size: 70px;
}

.create{
  width: 580px;
}

.logo img{
  width: 85%;
}

.inicio{
  width: 500px;
  height: 490px;
  color: white;
}

.descricao-entrar{
  font-size: 40px;
  margin-bottom: 10px;
}

.content-header{
  border: 1px solid red;
  height: 50px;
}

.cadastro{
  font-size: 40px;
  margin: 0px 0px 30px 40px;
}

.link-google, .btn-entrar{
  border-radius: 5px;
  background: #09E111;
  font-family: 'Iceland', cursive;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.link-google{
  width: 200px;
  height: 40px;
  font-size: 18px;
  border: none;
  margin-left: 45px;
}

.link-google:hover{
  background-color: #60c063;
}

.login{
  margin-top: 25px;
  height: 300px;
  /* margin-left: 60px; */
}

.label{
  font-size: 35px;
}

.email-login, .senha-login, #username{
  display: block;
  width: 280px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  background: rgb(80, 79, 79);
  border: none;
  margin-top: 10px;
}

.btn-entrar{
  width: 290px;
  height: 50px;
  font-size: 35px;
  margin-top: 20px;
  border: none;
}

.container{
  width: 300px;
  height: 350px;
  margin: 10px 60px;
}

.nova-conta{
  padding: 13px 20px;
  background: #09E111;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 130px;
}

.voltar{
  text-align: center;
  margin-top: 25px;
}

#voltar{
  font-size: 20px;
  text-decoration: none;
  color: #09E111;
  cursor: pointer;
}

 .or{
  width: 20px;
  margin: 40px 0px 25px 185px;
  font-size: 30px;
 }

/* POSTS  */
.geral{
  width: 100%;
  height: 4rem;
  background: #3a3939;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
}

.Techsisters{
  margin-left: 1rem;
}

.links{
  margin-right: 3rem;
}

.inicioA, .sobreA {
  text-decoration: none;
  color: black;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: #09E111;
  margin-left: 15px;
}

.inicioA:hover, .sobreA:hover, .btn-entrar:hover, .nova-conta:hover{
  background-color: #60c063;
}

#voltar:hover{
  color: white;
}

footer{
  color: white;
  text-align: center;
}

.github{
  color: white;
  text-decoration: none;
}

/* PÃGINA POST */

.overview-title {
  color: white;
  margin: 20px 30px 30px 30px;
  text-align: center;
}


.feed-novo-post{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  
  
}

/* .feed-container{
  display: block;
  justify-content: center;
  align-items: center;
} */

.feed-text-box{
  width: 50%;
  height: 100%;
}

.contentTitle, .contentParag{
  color: white;
  font-size: 1.5rem;
}

.content-post{
  display: flex;
  justify-content: center;
}

.content-post > .content {
  display: flex;
  flex-direction:column;
  justify-content: center;
  border: 3px solid #60c063;
  margin-bottom: 20px;
  width: 53.2%;
  height: 100%;
  background-color: #60c063;
  border-radius: 1%;
}

.contentTitle{
  color: black;
}



.button-content,  .like-button, .edit-button, .delete-button{
  padding: 5px;
}

