@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #1E1E1E;
  font-family: 'Iceland', cursive;
}

/* LOGIN  */

.content{
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
}

.title-logo{
  color: white;
  font-size: 70px;
}

.create{
  width: 580px;
}

.logo img{
  width: 85%;
}

.inicio{
  width: 500px;
  height: 490px;
  color: white;
}

.descricao-entrar{
  font-size: 40px;
  margin: 0px 0px 10px 80px;
}

.content-header{
  border: 1px solid red;
  height: 50px;
}

.cadastro{
  font-size: 40px;
  margin: 0px 0px 30px 40px;
}

.link-google, .btn-entrar{
  border-radius: 5px;
  background: #09E111;
  font-family: 'Iceland', cursive;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.link-google{
  width: 200px;
  height: 40px;
  font-size: 18px;
  border: none;
  margin-left: 45px;
}

.link-google:hover{
  background-color: #60c063;
}

.entrar-google{
  font-size: 18px;
  margin: -25px 0px 0px 30px;
}

ion-icon{
  margin: -10px 150px 0px 0;
  font-size: 25px;
}

.login{
  margin-top: 25px;
  height: 300px;
  /* margin-left: 60px; */
}

.label{
  font-size: 35px;
}

.email-login, .senha-login, #username{
  display: block;
  width: 280px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  background: rgb(80, 79, 79);
  border: none;
  margin-top: 10px;
}

.btn-entrar{
  width: 290px;
  height: 50px;
  font-size: 35px;
  margin-top: 20px;
  border: none;
}

.container{
  width: 290px;
  height: 360px;
  margin: 10px 60px;
}

.nova-conta{
  padding: 13px 20px;
  background: #09E111;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 130px;
}

.voltar{
  text-align: center;
  margin-top: 25px;
}

#voltar{
  font-size: 20px;
  text-decoration: none;
  color: #09E111;
  cursor: pointer;
}

 .or{
  width: 20px;
  margin: 40px 0px 25px 185px;
  font-size: 30px;
 }

/* POSTS  */
.geral{
  width: 100%;
  height: 4rem;
  background: #3a3939;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
}

.Techsisters{
  margin-left: 1rem;
}

.links{
  margin-right: 3rem;
}

.inicioA, .sobreA, .nova-nt {
  text-decoration: none;
  color: black;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: #09E111;
  margin-left: 15px;
}

.inicioA:hover, .sobreA:hover, .btn-entrar:hover, .nova-conta:hover{
  background-color: #60c063;
}

#voltar:hover{
  color: white;
}

footer{
  color: white;
  text-align: center;
}

.github{
  color: white;
  text-decoration: none;
}

/* PÁGINA POST */

.overview-title {
  color: white;
  margin: 20px 30px 30px 30px;
  text-align: center;
}


.feed-novo-post{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.feed-text-box{
  width: 51%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.19);
  border: none;
  outline: none;
}

.feed-text-box::placeholder{
  color: #60c063;
  padding: 5px;
}

.contentTitle, .contentParag{
  color: rgb(235, 228, 228);
  font-size: 1.5rem;
}

.content-post{
  display: flex;
  justify-content: center;
}

.content-post > .content {
  display: flex;
  flex-direction:column;
  justify-content: center;
  border: 3px solid #60c063;
  margin-bottom: 20px;
  width: 53.2%;
  height: 100%;
  border-radius: 20px;
}

#post-button{
  background: #60c063;
  border: none;
  width: 70px;
}

.contentTitle  {
  color: black
}

.button-content,  .like-button, .edit-button, .delete-button{
  padding: 5px;
  font-size: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Iceland', cursive;
}

.edit-button:hover, .delete-button:hover{
  color: #504e4e;
}

/* PÁGINA SOBRE */

.title-sobre{
  color:  #60c063;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.sobre-tech{
  color: white;
  font-size: 1.3em;
  text-align: justify;
  margin: 10px 20px 30px 20px;

}

.foto{
  float:left;
  margin: 0 10px 10px;
  height: 100px;
  border-radius: 50%;
}

.p_sobre{
  color: white;
  font-size: 1.2em;
  margin-top: 10px;
}

.sobre-lari, .sobre-vi, .sobre-raq{
color:  #60c063;
margin: 10px 20px 30px 20px;
}

.text-menor{
  display: none;
}

@media screen and (max-width: 480px){
  .logo{
    display: none;
  }

  .linha{
    width: 100%;
    height: 10px;
    background: white;
    margin-top: 20px;
  }

  .title-logo{
    font-size: 60px;
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .inicio{
    width: 100%;
  }

  .create{
    width: 100%;
  }

  .descricao-entrar{
    font-size: 30px;
    margin-top: 20px;
  }

  .link-google{
    margin-left: 2rem;
  }

  .label{
    font-size: 30px;
  }

  .senha-login, .email-login, #username{
    width: 250px;
    height: 35px;
  }

  .btn-entrar{
    font-weight: 100;
    width: 260px;
    height: 45px;
  }

  .or{
    margin-top: 10px;
    margin-left: 175px;
  }

  .nova-conta{
    margin-left: 120px;
  }

  .foto{
    max-width: 100px;
    max-height: 50px;
  }

  .Techsisters{
    font-size: 30px;
  }

  .title-sobre{
    font-size: 20px;
  }

  .nova-nt, .inicioA, .sobreA{
    padding: 10px;
    font-size: 15px;
  }

  .sobre-tech{
    font-size: 17px;
  }

  .sobre-raq, .sobre-lari, .sobre-vi{
    font-size: 11px;
  }

  footer{
    position: relative;
    bottom: 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 1400px) {
  footer{
    margin-top: 20%;
    color: white;
    text-align: center; 
  }

  .p_sobre{
    color: white;
    font-size: 1.5em;
    margin: 0px 2px 20px 2px;
    text-align: justify;
  }

}
